####Name : Lokendra J. Sinha
####Roll No : 32-A
####Branch : AIML
####Date : 27/06/2025

In [2]:
import pandas as pd
import numpy as np

print("--- Intermediate Pandas Exercise ---")
print("Complete each task by writing the requested Pandas code.")
print("------------------------------------")

# Task 1: Basic Pandas Functions and Converting Arrays to DataFrames
print("\n--- Task 1: Basic Pandas Functions and Converting Arrays to DataFrames ---")
# 1.1 Create a Pandas Series named 's1_1' from a list of numbers [10, 20, 30, 40, 50].
s1_1 = pd.Series([10, 20, 30, 40, 50])
print(s1_1)
# 1.2 Create a 3x4 NumPy array named 'np_array1_2' with random integers between 1 and 100.
np_array1_2 = np.random.randint(1, 101, size=(3, 4))
print(np_array1_2)
# 1.3 Convert 'np_array1_2' into a Pandas DataFrame named 'df1_3' with columns 'A', 'B', 'C', 'D'.
df1_3 = pd.DataFrame(np_array1_2, columns=['A','B','C','D'])
print(df1_3)
print(df1_3.head(3))

# Your code for Task 1 here:



# Task 2: Synthetic Data Generation for Practice
print("\n--- Task 2: Synthetic Data Generation for Practice ---")
# Create a DataFrame named 'df_sales' with 100 rows and the following columns:
# - 'Date': A range of dates from '2023-01-01' to '2023-04-09' (inclusive).
# - 'Region': Randomly chosen from ['East', 'West', 'North', 'South'].
# - 'Product': Randomly chosen from ['Laptop', 'Mouse', 'Keyboard', 'Monitor'].
# - 'Sales': Random integers between 100 and 1000.
# - 'Quantity': Random integers between 1 and 10.
# - Introduce 5 random NaN values in the 'Sales' column and 3 random NaN values in the 'Quantity' column.

dates = pd.date_range(start='2023-01-01', end='2023-04-09', freq='D')
regions = ['East', 'West', 'North', 'South']
products = ['Laptop', 'Mouse', 'Keyboard', 'Monitor']

df_sales = pd.DataFrame({
    'Date': np.random.choice(dates, 100, replace=True),
    'Region': np.random.choice(regions, 100),
    'Product': np.random.choice(products, 100),
    'Sales': np.random.randint(100, 1001, 100),
    'Quantity': np.random.randint(1, 11, 100)
})

# Introduce NaN values
nan_indices = np.random.choice(df_sales.index, 5, replace=False)
df_sales.loc[nan_indices, 'Sales'] = np.nan

nan_indices = np.random.choice(df_sales.index, 3, replace=False)
df_sales.loc[nan_indices, 'Quantity'] = np.nan

# Your code for Task 2 here:






# Task 3: Indexing and Slicing in DataFrames
print("\n--- Task 3: Indexing and Slicing in DataFrames ---")
# Use 'df_sales' from Task 2.
# 3.1 Select only the 'Region' and 'Sales' columns. Store it in 'df3_1'.
df3_1 = df_sales[['Region', 'Sales']]
print(df3_1)
# 3.2 Select rows where 'Product' is 'Laptop'. Store it in 'df3_2'.
df3_2 = df_sales[df_sales['Product'] == 'Laptop']
print(df3_2)
# 3.3 Select rows where 'Region' is 'East' AND 'Sales' are greater than 500. Store it in 'df3_3'.
df3_3 = df_sales[(df_sales['Region'] == 'East') & (df_sales['Sales'] > 500)]
print(df3_3)
# 3.4 Select the 'Sales' value for the first entry where 'Product' is 'Monitor' (use .loc and .iloc). Store it in 'val3_4'.
val3_4 = df_sales.loc[df_sales['Product'] == 'Monitor', 'Sales'].iloc[0]
print(val3_4)

# Your code for Task 3 here:



# Task 4: Data Cleaning (Handling Missing Values)
print("\n--- Task 4: Data Cleaning (Handling Missing Values) ---")
# Use 'df_sales' from Task 2 (which should have NaNs)

# 4.1 Check how many missing values are in each column. Store the result in 'missing_counts4_1'.
missing_counts4_1 = df_sales.isnull().sum()
print(missing_counts4_1)
# 4.2 Fill missing 'Sales' values with the mean of the 'Sales' column. Store the modified DataFrame in 'df4_2_filled'.
df4_2_filled = df_sales.copy()
df4_2_filled['Sales'].fillna(df4_2_filled['Sales'].mean(), inplace=True)
print(df4_2_filled)
# 4.3 Drop rows that have any missing values in 'df_sales'. Store the result in 'df4_3_dropped'.
df4_3_dropped = df_sales.dropna()
print(df4_3_dropped)

# Your code for Task 4 here:



# Task 5: Data Manipulation (Columns, Sorting, Grouping)
print("\n--- Task 5: Data Manipulation (Columns, Sorting, Grouping) ---")
# Use 'df_sales' (the original one with NaNs)
# 5.1 Create a new column 'Total_Revenue' which is 'Sales' * 'Quantity'.
#     (Be mindful of NaNs, the result should also be NaN where either Sales or Quantity is NaN).
df_sales['Total_Revenue'] = df_sales['Sales'] * df_sales['Quantity']
print(df_sales)
# 5.2 Sort 'df_sales' by 'Date' in ascending order, then by 'Sales' in descending order. Store it in 'df5_2_sorted'.
df5_2_sorted = df_sales.sort_values(by=['Date', 'Sales'], ascending=[True, False])
print(df5_2_sorted)
# 5.3 Group 'df_sales' by 'Region' and calculate the sum of 'Sales' and 'Quantity' for each region.
#     Store the result in 'df5_3_grouped_region'.
df5_3_grouped_region = df_sales.groupby('Region').agg({'Sales': 'sum', 'Quantity': 'sum'})
print(df5_3_grouped_region)
# 5.4 Group 'df_sales' by 'Product' and find the average 'Sales' for each product.
#     Store the result in 'df5_4_grouped_product'.
df5_4_grouped_product = df_sales.groupby('Product')['Sales'].mean()
print(df5_4_grouped_product)

# Your code for Task 5 here:

--- Intermediate Pandas Exercise ---
Complete each task by writing the requested Pandas code.
------------------------------------

--- Task 1: Basic Pandas Functions and Converting Arrays to DataFrames ---
0    10
1    20
2    30
3    40
4    50
dtype: int64
[[98 96 89 85]
 [30 60 85 16]
 [93 53 25 95]]
    A   B   C   D
0  98  96  89  85
1  30  60  85  16
2  93  53  25  95
    A   B   C   D
0  98  96  89  85
1  30  60  85  16
2  93  53  25  95

--- Task 2: Synthetic Data Generation for Practice ---

--- Task 3: Indexing and Slicing in DataFrames ---
   Region  Sales
0    West  136.0
1    East  612.0
2    East    NaN
3    East  116.0
4   South    NaN
..    ...    ...
95  South  366.0
96  South  741.0
97   East  861.0
98   East  920.0
99  North  904.0

[100 rows x 2 columns]
         Date Region Product  Sales  Quantity
2  2023-03-07   East  Laptop    NaN       6.0
6  2023-02-27   East  Laptop  688.0       4.0
10 2023-02-16  South  Laptop  865.0       5.0
18 2023-01-29  South  Laptop  785.0       4.0
20 2023-01-27   East  Laptop  206.0       6.0
24 2023-02-04  North  Laptop  906.0       9.0
27 2023-02-03  North  Laptop  893.0       6.0
30 2023-02-14  South  Laptop  764.0      10.0
34 2023-02-23   East  Laptop    NaN       NaN
41 2023-02-16  South  Laptop    NaN       NaN
45 2023-01-16  North  Laptop  992.0       9.0
49 2023-01-04   West  Laptop  633.0       8.0
52 2023-01-06   East  Laptop  150.0       NaN
53 2023-03-15  South  Laptop  783.0      10.0
56 2023-01-07  North  Laptop  987.0       1.0
57 2023-03-18  North  Laptop  990.0       5.0
62 2023-04-02  South  Laptop  719.0       4.0
64 2023-02-12   West  Laptop  144.0       4.0
66 2023-01-01   East  Laptop  407.0      10.0
69 2023-04-05   West  Laptop  680.0       8.0
75 2023-02-19  North  Laptop  382.0       9.0
83 2023-03-30   West  Laptop  851.0       5.0
96 2023-03-02  South  Laptop  741.0       2.0
99 2023-01-16  North  Laptop  904.0      10.0
         Date Region   Product  Sales  Quantity
1  2023-01-16   East   Monitor  612.0       1.0
6  2023-02-27   East    Laptop  688.0       4.0
11 2023-04-09   East     Mouse  801.0       6.0
14 2023-03-31   East     Mouse  532.0       6.0
42 2023-01-25   East  Keyboard  774.0      10.0
50 2023-01-04   East     Mouse  832.0      10.0
54 2023-03-22   East  Keyboard  989.0       4.0
59 2023-03-12   East   Monitor  931.0       5.0
70 2023-03-16   East     Mouse  649.0       2.0
71 2023-02-08   East     Mouse  910.0       7.0
79 2023-03-26   East  Keyboard  821.0      10.0
81 2023-02-24   East     Mouse  621.0       6.0
82 2023-03-28   East  Keyboard  791.0       6.0
89 2023-04-03   East     Mouse  996.0       6.0
97 2023-02-14   East  Keyboard  861.0       9.0
98 2023-02-08   East     Mouse  920.0       6.0
136.0

--- Task 4: Data Cleaning (Handling Missing Values) ---
Date        0
Region      0
Product     0
Sales       5
Quantity    3
dtype: int64
         Date Region   Product       Sales  Quantity
0  2023-03-11   West   Monitor  136.000000       4.0
1  2023-01-16   East   Monitor  612.000000       1.0
2  2023-03-07   East    Laptop  562.515789       6.0
3  2023-03-30   East     Mouse  116.000000       2.0
4  2023-02-02  South     Mouse  562.515789       8.0
..        ...    ...       ...         ...       ...
95 2023-02-13  South   Monitor  366.000000       6.0
96 2023-03-02  South    Laptop  741.000000       2.0
97 2023-02-14   East  Keyboard  861.000000       9.0
98 2023-02-08   East     Mouse  920.000000       6.0
99 2023-01-16  North    Laptop  904.000000      10.0

[100 rows x 5 columns]
         Date Region   Product  Sales  Quantity
0  2023-03-11   West   Monitor  136.0       4.0
1  2023-01-16   East   Monitor  612.0       1.0
3  2023-03-30   East     Mouse  116.0       2.0
5  2023-03-28   East  Keyboard  334.0       3.0
6  2023-02-27   East    Laptop  688.0       4.0
..        ...    ...       ...    ...       ...
95 2023-02-13  South   Monitor  366.0       6.0
96 2023-03-02  South    Laptop  741.0       2.0
97 2023-02-14   East  Keyboard  861.0       9.0
98 2023-02-08   East     Mouse  920.0       6.0
99 2023-01-16  North    Laptop  904.0      10.0

[94 rows x 5 columns]

--- Task 5: Data Manipulation (Columns, Sorting, Grouping) ---
         Date Region   Product  Sales  Quantity  Total_Revenue
0  2023-03-11   West   Monitor  136.0       4.0          544.0
1  2023-01-16   East   Monitor  612.0       1.0          612.0
2  2023-03-07   East    Laptop    NaN       6.0            NaN
3  2023-03-30   East     Mouse  116.0       2.0          232.0
4  2023-02-02  South     Mouse    NaN       8.0            NaN
..        ...    ...       ...    ...       ...            ...
95 2023-02-13  South   Monitor  366.0       6.0         2196.0
96 2023-03-02  South    Laptop  741.0       2.0         1482.0
97 2023-02-14   East  Keyboard  861.0       9.0         7749.0
98 2023-02-08   East     Mouse  920.0       6.0         5520.0
99 2023-01-16  North    Laptop  904.0      10.0         9040.0

[100 rows x 6 columns]
         Date Region   Product  Sales  Quantity  Total_Revenue
66 2023-01-01   East    Laptop  407.0      10.0         4070.0
50 2023-01-04   East     Mouse  832.0      10.0         8320.0
49 2023-01-04   West    Laptop  633.0       8.0         5064.0
22 2023-01-05  South     Mouse  557.0      10.0         5570.0
37 2023-01-06  North  Keyboard  870.0      10.0         8700.0
..        ...    ...       ...    ...       ...            ...
69 2023-04-05   West    Laptop  680.0       8.0         5440.0
61 2023-04-07  North   Monitor  401.0       8.0         3208.0
32 2023-04-07   West     Mouse  127.0      10.0         1270.0
12 2023-04-08   West  Keyboard  327.0       3.0          981.0
11 2023-04-09   East     Mouse  801.0       6.0         4806.0

[100 rows x 6 columns]
          Sales  Quantity
Region
East    16831.0     186.0
North   14264.0     158.0
South   14425.0     167.0
West     7919.0      93.0
Product
Keyboard    540.846154
Laptop      689.047619
Monitor     564.388889
Mouse       491.600000
Name: Sales, dtype: float64

/tmp/ipython-input-2-2850834798.py:90: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df4_2_filled['Sales'].fillna(df4_2_filled['Sales'].mean(), inplace=True)